.input-wrapper {
  display: flex;
  justify-content: space-between;
  background: darkgray;
  color: white;
  width: 100%;
  margin: auto;
}

.result {
  font-size: 20px;
  padding: 5px;
}

.text {
  font-size: 20px;
  padding: 5px;
}
