.calc-wrapper {
  margin-top: 5%;
  background-color: white;
  width: 50%;
}

.btn-row {
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button'
    'button button button button';
  text-align: center;
  justify-content: center;
}

.big-grid {
  grid-column-start: 1;
  grid-column-end: 3;
}

.big-grid button {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid gray;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  background: darkgray;
  color: white;
  margin: auto;
  height: 10rem;
  width: 99.5%;
  font-size: 40px;
  align-items: flex-end;
  border: none;
}

.text {
  font-size: 20px;
  padding: 5px;
}

@media (max-width: 600px) {
  .calc-wrapper {
    width: 95%;
  }
  
  .input-wrapper {
    width: 99%;
  }
}
